<div class='article row'>
    <div class="col col-sm-10">
        <h3>{{this.title}}</h3>
        <h5>{{this.exerpt}}</h5>
        <a href={{this.link}}>View Article</a>
    </div>
    <div class="col col-sm-2 save-btn-div" align="center">

            <button data-link="{{this.link}}" data-saved={{this.saved}} class="btn btn-warning save-button">Unsave</button>    

            <button data-link="{{this.link}}" class="btn comment-button">Comment</button>

    </div>
</div>